html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

.text-center {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-size: 24px;
  font-family: "TT2020Base";
  font-weight: 400;
  scroll-behavior: smooth;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pioneer";
  font-weight: 700;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2em !important;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

figcaption {
  font-size: .6em;
  font-weight: 200;
  margin-top: 15px;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: black;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

a:hover {
  color: var(--main-bg-color);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sub-title {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 615px;
  width: 100%;
  margin-bottom: 60px;
}

.sub-title:before, .sub-title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: calc(100px + 5.7vw);
  background-color: var(--main-bg-color);
}

.sub-title::before {
  top: 0;
  right: 0;
}

.sub-title::after {
  bottom: -13px;
  left: 0;
}

.visit-link-right {
  padding-right: 35px;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.visit-link-right:before, .visit-link-right:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
}

.visit-link-right::before {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  border-radius: 50%;
}

.visit-link-right::after {
  content: ' > ';
  font-weight: bold;
  font-size: 30px;
  top: 0;
  right: 4px;
}

.visit-link-right:hover::before {
  border-color: var(--main-bg-color);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.visit-link-left {
  padding-left: 35px;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.visit-link-left:before, .visit-link-left:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
}

.visit-link-left::before {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  border-radius: 50%;
}

.visit-link-left::after {
  content: ' > ';
  font-weight: bold;
  font-size: 30px;
  top: 0;
  left: 4px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.visit-link-left:hover::before {
  border-color: var(--main-bg-color);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.font-annabelle {
  font-family: "Annabelle" !important;
  font-weight: 500;
}

.font-plaster {
  font-family: "Plaster-Regular" !important;
}

/* Header start */
header a {
  text-decoration: none;
  color: white;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  z-index: 100;
}

.header__active .nav__top {
  background: black;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header__active .nav__top .burger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__active .nav__top .burger__icon {
  position: relative;
  width: 26px;
  height: 20px;
  margin-right: 10px;
}

.header__active .nav__top .burger__icon:after, .header__active .nav__top .burger__icon:before {
  background-color: gainsboro;
}

.header__active .nav__top .burger__icon:after {
  top: 12px;
  left: 0;
  -webkit-animation: after2 1s forwards;
          animation: after2 1s forwards;
}

@-webkit-keyframes after2 {
  0% {
    top: 5px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 9px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 12px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes after2 {
  0% {
    top: 5px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 9px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 12px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header__active .nav__top .burger__icon:before {
  top: 5px;
  left: 6px;
  -webkit-animation: before2 1s forwards;
          animation: before2 1s forwards;
}

@-webkit-keyframes before2 {
  0% {
    top: 12px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 9px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 5px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes before2 {
  0% {
    top: 12px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 9px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 5px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header__active .nav__top .burger__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__active .nav__top .burger__name:before {
  content: 'menu';
  left: 0;
  width: 65px;
  color: white;
  -webkit-animation: burgerName2 1s ease-in-out forwards;
          animation: burgerName2 1s ease-in-out forwards;
}

@-webkit-keyframes burgerName2 {
  0% {
    content: 'menu';
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    content: 'menu|';
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    content: 'men|';
  }
  30% {
    content: 'me|';
  }
  40% {
    content: 'm|';
  }
  50% {
    content: '|';
  }
  60% {
    content: 'c|';
  }
  70% {
    content: 'cl|';
  }
  80% {
    content: 'clo|';
  }
  90% {
    content: 'clos|';
  }
  95% {
    content: 'close|';
  }
  100% {
    content: 'close';
  }
}

@keyframes burgerName2 {
  0% {
    content: 'menu';
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    content: 'menu|';
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    content: 'men|';
  }
  30% {
    content: 'me|';
  }
  40% {
    content: 'm|';
  }
  50% {
    content: '|';
  }
  60% {
    content: 'c|';
  }
  70% {
    content: 'cl|';
  }
  80% {
    content: 'clo|';
  }
  90% {
    content: 'clos|';
  }
  95% {
    content: 'close|';
  }
  100% {
    content: 'close';
  }
}

.header__active .nav__main {
  top: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header__active .nav__main .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15vh;
}

@media screen and (max-width: 500px) {
  .header__active .nav__main .menu__wrapper {
    margin-top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__active .nav__main .menu__wrapper .menu__main .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__active .nav__main .menu__wrapper .menu__main .menu__nav--link {
  padding: 5px;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.header__active .nav__main .menu__wrapper .menu__main .menu__nav--link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.header__active .nav__main .menu__wrapper .menu__main .menu__nav--link a .small-number {
  font-size: 12px;
  margin-right: 10px;
}

.header__active .nav__main .menu__wrapper .menu__main .menu__nav--link a:before {
  content: 'ERROR';
  position: absolute;
  width: 100%;
  left: 22px;
  color: black;
  background: #000;
  -webkit-animation: errors 2s ease-in-out .5s forwards;
          animation: errors 2s ease-in-out .5s forwards;
}

@-webkit-keyframes errors {
  0% {
    color: black;
    opacity: 1;
  }
  10% {
    color: red;
  }
  20% {
    color: black;
  }
  30% {
    color: red;
  }
  40% {
    color: black;
  }
  50% {
    color: red;
  }
  60% {
    color: black;
  }
  70% {
    color: red;
  }
  80% {
    color: black;
  }
  90% {
    color: red;
  }
  99% {
    color: black;
    z-index: 1000;
    opacity: 1;
    background: #000;
  }
  100% {
    z-index: -1000;
    opacity: 0;
  }
}

@keyframes errors {
  0% {
    color: black;
    opacity: 1;
  }
  10% {
    color: red;
  }
  20% {
    color: black;
  }
  30% {
    color: red;
  }
  40% {
    color: black;
  }
  50% {
    color: red;
  }
  60% {
    color: black;
  }
  70% {
    color: red;
  }
  80% {
    color: black;
  }
  90% {
    color: red;
  }
  99% {
    color: black;
    z-index: 1000;
    opacity: 1;
    background: #000;
  }
  100% {
    z-index: -1000;
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .header__active .nav__main .menu__wrapper .menu__social {
    display: none;
  }
}

.header__active .nav__main .menu__wrapper .menu__social--item {
  min-width: 15vw;
  margin-bottom: 30px;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.header__active .nav__main .menu__wrapper .menu__social--item h6 {
  color: white;
  margin-bottom: 5px;
}

.header__active .nav__main .menu__wrapper .menu__social--item:before {
  content: '';
  height: 100vh;
  width: 1px;
  background-color: white;
  position: absolute;
  left: calc(50% + 13vw);
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  opacity: 1;
}

.nav__top {
  background: rgba(7, 5, 5, 0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav__top--wrapper {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__top--wrapper .logo {
  z-index: 101;
}

.nav__top--wrapper .logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.nav__top--wrapper .logo__link img {
  width: 100px;
}

.nav__top--wrapper .burger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__top--wrapper .burger__icon {
  position: relative;
  width: 26px;
  height: 20px;
  margin-right: 10px;
}

.nav__top--wrapper .burger__icon:after, .nav__top--wrapper .burger__icon:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
}

.nav__top--wrapper .burger__icon:after {
  top: 5px;
  left: 0px;
  -webkit-animation: after1 1s forwards;
          animation: after1 1s forwards;
}

@-webkit-keyframes after1 {
  0% {
    top: 12px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 8px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 5px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes after1 {
  0% {
    top: 12px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 8px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 5px;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav__top--wrapper .burger__icon:before {
  top: 12px;
  left: 6px;
  -webkit-animation: before1 1s forwards;
          animation: before1 1s forwards;
}

@-webkit-keyframes before1 {
  0% {
    top: 5px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 8px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 12px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes before1 {
  0% {
    top: 5px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 8px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    top: 12px;
    left: 6px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav__top--wrapper .burger__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav__top--wrapper .burger__name:before {
  content: 'menu';
  left: 0;
  width: 65px;
  color: white;
  -webkit-animation: burgerName1 1s ease-in-out forwards;
          animation: burgerName1 1s ease-in-out forwards;
}

@-webkit-keyframes burgerName1 {
  0% {
    content: 'close';
  }
  5% {
    left: 0;
    content: 'close|';
  }
  10% {
    content: 'clos|';
  }
  20% {
    content: 'clo|';
  }
  30% {
    content: 'cl|';
  }
  40% {
    content: 'c|';
  }
  50% {
    content: '|';
  }
  60% {
    content: 'm|';
  }
  70% {
    content: 'me|';
  }
  80% {
    content: 'men|';
  }
  90% {
    left: 0;
    content: 'menu|';
  }
  100% {
    left: 0;
    content: 'menu';
  }
}

@keyframes burgerName1 {
  0% {
    content: 'close';
  }
  5% {
    left: 0;
    content: 'close|';
  }
  10% {
    content: 'clos|';
  }
  20% {
    content: 'clo|';
  }
  30% {
    content: 'cl|';
  }
  40% {
    content: 'c|';
  }
  50% {
    content: '|';
  }
  60% {
    content: 'm|';
  }
  70% {
    content: 'me|';
  }
  80% {
    content: 'men|';
  }
  90% {
    left: 0;
    content: 'menu|';
  }
  100% {
    left: 0;
    content: 'menu';
  }
}

.nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: -120%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  background: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__main .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15vh;
}

@media screen and (max-width: 500px) {
  .nav__main .menu__wrapper {
    margin-top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__main .menu__wrapper .menu__main .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__main .menu__wrapper .menu__main .menu__nav--link {
  padding: 5px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav__main .menu__wrapper .menu__main .menu__nav--link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.nav__main .menu__wrapper .menu__main .menu__nav--link a .small-number {
  font-size: 12px;
  margin-right: 3px;
}

@media screen and (max-width: 500px) {
  .nav__main .menu__wrapper .menu__social {
    display: none;
  }
}

.nav__main .menu__wrapper .menu__social--item {
  min-width: 15vw;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav__main .menu__wrapper .menu__social--item h6 {
  color: white;
  margin-bottom: 5px;
}

.nav__main .menu__wrapper .menu__social--item:before {
  content: '';
  height: 100vh;
  width: 1px;
  background-color: white;
  position: absolute;
  left: calc(50% + 13vw);
  opacity: 0;
  top: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* Header end */
/* Home start */
/* Home End */
/* Single-work start */
.work-intro {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-bg-color);
  position: relative;
}

.work-intro__arrow {
  position: absolute;
  bottom: 60px;
  width: 35px;
  height: 22px;
  left: calc(50% - 17.5px);
}

.work-history {
  background-color: #F4F4F4;
  padding: 90px 0 60px;
}

.work-history__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-history__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.work-history__info--text {
  max-width: 1000px;
}

.work-history__link {
  text-align: end;
}

.work-view {
  padding: 90px 0 60px;
}

.work-view__wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.work-view__img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.work-color {
  background-color: #F4F4F4;
  padding: 90px 0 60px;
}

.work-color__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-color__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work-color__single {
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-color__single p {
  margin-bottom: 15px;
}

.work-mobile {
  padding: 90px 0 60px;
}

.work-mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-mobile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work-mobile__adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-mobile__adaptive .mobile-markup {
  width: 382px;
  height: 775px;
  position: relative;
  background: url("../assets/img/iPhone 6S Plus.png");
  z-index: 5;
  background-size: cover;
}

.work-mobile__adaptive .mobile-markup__inner {
  overflow-y: scroll;
  position: absolute;
  max-width: 337px;
  max-height: 598px;
  top: 90px;
  left: 23px;
  z-index: -3;
}

.work-mobile__adaptive .mobile-markup__inner::-webkit-scrollbar {
  display: none;
}

.work-mobile__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-mobile__users--info {
  max-width: 555px;
}

.work-mobile__experience-block {
  padding-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-mobile__experience-block .experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  max-width: 555px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-mobile__experience-block .experience__wrapper--menu {
  max-width: 260px;
  height: auto;
}

.work-mobile__experience-block .experience__wrapper--btn {
  max-width: 265px;
}

.work-mobile__experience-block .experience__content--img {
  padding-top: 30px;
}

.work-typography {
  background-color: #F4F4F4;
  padding: 90px 0 60px;
}

.work-typography__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-typography__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work-typography__img {
  max-width: 440px;
}

.work-footer {
  padding: 90px 0 0;
  color: white;
  background: #000;
}

.work-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 90px 0 45px;
}

.work-footer__navigation a {
  color: white;
}

.work-footer__img {
  max-width: 440px;
}

/* single-work end */
/*# sourceMappingURL=style.css.map */